* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: rgb(0, 199, 126);
  background: linear-gradient(
    180deg,
    rgba(0, 150, 136, 1) 22%,
    rgba(218, 219, 211, 1) 22%
  );
  height: 100vh;
}

.debug {
  border: 1px dashed red;
}

.container {
  background-color: #eaeaea;
  width: 100%;
}

.col {
  height: 90vh;
}

.myThumb {
  border-radius: 30px;
  height: 50px;
}

.thumb {
  border-radius: 30px;
  height: 65px;
}

.sidebar {
  height: 90vh;
}

.messageNotice {
  background-color: #8edafc;
  height: 80px;
}

.messageNotice i {
  border-radius: 30px;
  background-color: white;
  font-size: 20px;
  color: #8edafc;
}

.myUser {
  height: 60px;
}

.messageNoticeText p {
  margin: 0;
}

#active {
  background-color: white;
}
