* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: rgb(0, 199, 126);
  background: linear-gradient(
    180deg,
    rgba(0, 150, 136, 1) 22%,
    rgba(218, 219, 211, 1) 22%
  );
  height: 100vh;
}

.debug {
  border: 1px dashed red;
}

.container {
  background-color: #fafafa;
  width: 100%;
}

.col {
  min-height: 90vh;
  padding: 0;
}

.myThumb {
  border-radius: 30px;
  height: 50px;
}

.thumb {
  border-radius: 30px;
  height: 65px;
}

.sidebar {
  height: 90vh;
}

.messageNotice {
  background-color: #8edafc;
  height: 80px;
}

.messageNotice i {
  border-radius: 30px;
  background-color: white;
  font-size: 20px;
  color: #8edafc;
}

.myUser {
  height: 70px;
}

.messageNoticeText p {
  margin: 0;
}

.chatList {
  overflow-y: scroll;
  height: 65vh;
  background-color: white;
}

.active {
  background-color: #eaeaea;
}

.mainMessage {
  background-image: url("../img/mine.jpg");
  background-repeat: repeat;
  height: 75vh;
  overflow-y: scroll;
  padding: 15px;
}

section {
  border: border-bottom;
}

i {
  color: #b1b1b1;
}

.sendMessage {
  background-color: #d5f9ba;
  width: 250px;
  border-radius: 10px;
  margin: 15px;
  min-height: 50px;
  overflow: hidden;
  padding: 7px;
}

.receivedMessage {
  background-color: #fff;
  width: 250px;
  border-radius: 10px;
  margin: 15px;
  min-height: 50px;
  overflow: hidden;
  padding: 7px;
}

.textDate {
  color: #b1b1b1;
  font-size: 10px;
}

.textDateUser {
  color: #b1b1b1;
  font-size: 12px;
}

.input-group-text {
  background-color: white;
}

a {
  color: rgb(141, 141, 141);
  font-size: 16px;
}

a:hover {
  text-decoration: none;
  color: rgb(141, 141, 141);
}
