* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: rgb(0, 199, 126);
  background: linear-gradient(
    180deg,
    rgba(0, 150, 136, 1) 22%,
    rgba(218, 219, 211, 1) 22%
  );
  height: 100vh;
}

.container {
  background-color: #eaeaea;
  width: 100%;
}

.col {
  height: 90vh;
}
